* {
  padding: 0px;
  margin: 0px;
}
.bg1 {
  background-color: black;
  height: 728px;
}
.bg2 {
  background-color: white;
  height: 250px;
  width: 500px;
  text-align: center;
  border-radius: 15px;
}
.h1text {
  font-weight: 900;
  font-size: 60px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.h1num {
  font-size: 60px;
  padding-bottom: 10px;
}
.button {
  height: 40px;
  width: 150px;
  border-radius: 10px;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
